[submodule "src/nimgl/private/cimgui"]
	path = src/nimgl/private/cimgui
	url = git@github.com:cimgui/cimgui.git
[submodule "src/nimgl/private/glfw"]
	path = src/nimgl/private/glfw
	url = git@github.com:glfw/glfw.git
